<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>National Parks</title>
</head>
<body>
<h1>Home Page</h1>
<a th:href="@{/parksearch}">search for park</a>
<div>
    <a th:href="@{/login}">login</a>
    <a th:href="@{/signup}">Signup</a>
    <a th:href="@{/edituser}">edit user</a>

</div>

<ul th:each="vark : ${varks}">
    <li th:text="${vark.name}"></li>
    <li th:text="${vark.description}"></li>
    <a th:href="@{/parkview}">Go to the park</a>
</ul>


</body>
</html>