<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a th:href="@{/}">home</a>
<H1>Park for review and comment</H1>

<ul>
    <h2>Park Name</h2>
    <li>park Description</li>
    <li>park url</li>
</ul>

<form>
    <label>Comment</label>
    <input type="text">
    <label>review</label>
    <input type="radio" name="review" id="1">
    <input type="radio" name="review" id="2">
    <input type="radio" name="review" id="3">
    <input type="radio" name="review" id="4">
    <input type="radio" name="review" id="5">
</form>

</body>
</html>